body {
    background-image: url('../images/img_lights.jpg');
}

#title{
    width:20%;
    text-align: center;
    margin: 20px 10px;
    padding: 20px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:white;
    background-color: brown;

}

#rules{
    width:40%;
    background-color: rgb(233, 231, 122);
    margin: 20px 10px 10px 10px;
    padding: 10px 0px;
    color: black;
}
#random-score{
    width:20%;
    background-color:rgb(110, 93, 110);
    height: 50px;
    margin: 5px 10px;
    padding: 10px 0px;
    float: left;

}
#counter{
    background-color: rgb(125, 167, 109);
    float:left;
    width: 10%;
    margin: 5px 5px;
    padding: 10px 0px;
    height: 50px;
    

}
.crystal-image {
    width:100px;
    height:100px;
    border: 1px royalblue solid;
      
}
#crystals{
    width:35%;
    clear: left;
    margin: 5px 10px;
    padding: 10px 0px;

}
#text-holder{
    background-color: rgb(64, 139, 93);
    width:15%;

      margin: 5px 10px;
      padding: 10px 0px;

}
  
  #total-score{
      width:15%;
      height: 50px;
      background-color: rgb(64, 139, 93);
      margin: 5px 10px;
      padding: 10px 0px;

  }



